<header class="top-head col-12">
  <div id="settings" (click)="view_horizontal_menu()">
    <div>
      <img src="../../assets/img/settings-sendwich.png">
    </div>
  </div>
  <div class="head-left">
      <div>
          <a href="#">
              <div>
                  <img src="../../assets/img/settings.png">
                  <span>SETTINGS</span>
              </div>
          </a>
          <a href="#">
              <div>
                  <img src="../../assets/img/contacts.png">
                  <span>CONTACTS</span>
              </div>
          </a>
          <a href="#">
              <div>
                  <img src="../../assets/img/at.png">
                  <span>E-MAIL</span>
              </div>
          </a>
      </div>
      <!--<div id="horizontal-menu-trigger"></div>-->
  </div>
  <div class="head-right">
    <div id="user">
      <a href="#">
        <img src="../../assets/img/user-shape.png">
      </a>
    </div>
    <div>
      <a (click)="logout()">
        <img src="../../assets/img/logout.png">
        <span>Logout</span>
      </a>
    </div>
  </div>
  <div class="mid-head"><h3>Meet-Ups</h3></div>
</header>
