.content {
  background-color: lightgray;
  margin: 60px 0.5% 0 18%;
  min-height: 84%;
}

@media (orientation: portrait) and (max-width: 700px), (orientation: landscape) and (max-height: 550px) {
  .content {
    margin: 60px 0.5% 0 15px;
  }
}
