<div class="sidebar-left col-2">
  <div>
    <div>
      <nav>
        <a href="#"><div class="hov">Main sector</div></a>
        <a href="#"><div class="hov">Something new really</div></a>
        <a href="#"><div class="hov">Warap here</div></a>
        <a href="#"><div class="hov">Say heloo</div></a>
        <a href="#"><div class="hov">Say heloo</div></a>
        <a href="#"><div class="hov">About us</div></a>
      </nav>
      <div class="color-link">
          <ul>
              <li><a href="#" class="blue">another one menu youyou</a></li>
              <li><a href="#" class="grey">and another one menu</a></li>
              <li><a href="#" class="yellow">and another one menu</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div id="vertical-side-menu-trigger" (click)="viewHorizontalMenu()"></div>
</div>
